@model IEnumerable<AppMvcBasic.Models.Supplier>

@{
    ViewData["Title"] = "Index";
}

<div class="text-start">
    <h1 class="display-4">Fornecedores</h1>
    <p class="text-muted">Lista de fornecedores.</p>
</div>

<p>
    <a class="btn btn-info" asp-action="Create">Criar novo</a>
</p>
<table class="table table-hover">
    <thead class="table-dark">

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DocumentNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Active)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
